/* Style sheet compiled using Sass */
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #FFEFC9;
  color: #404040;
  font-size: 62.5%; }

h1 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: Quando, "Times New Roman", serif;
  letter-spacing: .08em;
  text-align: center;
  text-shadow: #FC9E84 0.01em 0.01em 0, #FC9E84 0.02em 0.02em 0, #FC9E84 0.03em 0.03em 0, #FC9E84 0.04em 0.04em 0, #FC9E84 0.05em 0.05em 0;
  margin: 0; }

h2 {
  font-size: 40px;
  font-size: 4rem;
  font-family: "Concert One";
  margin: 0; }

p {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: Dosis, Tahoma, sans-serif;
  padding: 20px 0; }

a {
  color: inherit;
  text-decoration: none; }

section {
  padding: 20px 0; }

.container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }

.bg-yellow {
  background-color: #FFEFC9; }

.bg-green {
  background-color: #9ABA9A; }

.bg-purple {
  background-color: #565B70; }

.bg-grey {
  background-color: #404040; }

.yellow-font {
  color: #FFEFC9; }

.green-font {
  color: #9ABA9A; }

.purple-font {
  color: #565B70; }

.pink-font {
  color: #F37463; }

.bg-green .purple-font {
  color: #555D7E; }

div.button {
  display: block;
  margin: 20px; }
  div.button a {
    display: block;
    width: auto;
    text-decoration: none;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    div.button a .left,
    div.button a .right {
      width: 0;
      height: 0;
      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent; }
    div.button a .left {
      border-right: 23px solid #FFEFC9; }
    div.button a .right {
      border-left: 23px solid #FFEFC9; }
    div.button a .text {
      padding: 8px 10px 10px;
      border: 3px solid #FFEFC9;
      color: #FFEFC9;
      font-size: 18px;
      font-size: 1.8rem;
      font-family: Dosis, Tahoma, sans-serif;
      -webkit-transition: padding 0.2s ease-in-out;
      -moz-transition: padding 0.2s ease-in-out;
      -o-transition: padding 0.2s ease-in-out;
      -ms-transition: padding 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out; }
  div.button.grey .left {
    border-right: 23px solid #404040; }
  div.button.grey .right {
    border-left: 23px solid #404040; }
  div.button.grey .text {
    border-color: #404040;
    color: #404040;
    font-weight: 500; }
  div.button:hover a .text {
    padding: 8px 25px 10px; }

header {
  width: 100%;
  height: 170px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #565B70; }
  header #logo {
    margin: 20px 0; }
    header #logo img {
      width: 132px;
      height: 50px; }
  header menu {
    margin: 0;
    padding: 0; }
    header menu .item {
      display: inline-block;
      margin: 0 9px; }
      header menu .item .icon {
        display: inline-block;
        text-align: center;
        width: 45px;
        height: 45px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background-color: #FFEFC9; }
        header menu .item .icon svg {
          width: 30px;
          height: 30px;
          padding-top: 8px; }
      header menu .item .label {
        margin-top: 2px;
        color: #FFEFC9;
        font-family: Dosis, Tahoma, sans-serif;
        font-size: 14px;
        font-size: 1.4rem;
        text-align: center; }

@media screen and (min-width: 500px) {
  header {
    height: 80px;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    header #logo {
      margin: 0 0 0 5%; }
      header #logo img {
        width: 106px;
        height: 40px; }
    header menu {
      margin: 0 5% 0 0; }
      header menu .item {
        margin: 0 6px; }
        header menu .item .icon {
          height: 35px;
          width: 35px; }
          header menu .item .icon svg {
            height: 25px;
            width: 25px;
            padding-top: 5px; }
        header menu .item .label {
          font-size: 12px;
          font-size: 1.2rem; }
        header menu .item:first-child {
          margin-left: 0px; } }
@media screen and (min-width: 768px) {
  header menu .item .icon svg path {
    fill: #F37463;
    -webkit-transition: fill 0.1s ease-in-out;
    -moz-transition: fill 0.1s ease-in-out;
    -o-transition: fill 0.1s ease-in-out;
    -ms-transition: fill 0.1s ease-in-out;
    transition: fill 0.1s ease-in-out; }
  header menu .item .label {
    color: #565B70;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
  header menu .item:hover .icon svg path {
    fill: #565B70; }
  header menu .item:hover .label {
    color: #FFEFC9; } }
@media screen and (min-width: 1024px) {
  header {
    height: 90px; }
    header #logo img {
      width: 132px;
      height: 50px; }
    header menu {
      margin: 0 5% 0 0; }
      header menu .item {
        margin: 0 6px; }
        header menu .item .icon {
          height: 40px;
          width: 40px; }
          header menu .item .icon svg {
            height: 28px;
            width: 28px;
            padding-top: 6px; }
        header menu .item .label {
          font-size: 14px;
          font-size: 1.4rem; } }
footer {
  height: 50px;
  background: #565B70;
  text-align: center; }
  footer a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px 5px;
    background-size: 30px 60px; }
    footer a svg {
      height: 30px;
      width: 30px; }
      footer a svg circle {
        fill: #565B70;
        -webkit-transition: fill 0.2s ease-in-out;
        -moz-transition: fill 0.2s ease-in-out;
        -o-transition: fill 0.2s ease-in-out;
        -ms-transition: fill 0.2s ease-in-out;
        transition: fill 0.2s ease-in-out; }
    footer a:hover svg circle {
      fill: #F37463; }

.sub-text {
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Quando, "Times New Roman", serif;
  text-align: center; }

.c-a-m {
  width: 100%;
  margin: 20px 0;
  font-size: 55px;
  font-size: 5.5rem;
  line-height: 1.1;
  font-family: Quando, "Times New Roman", serif;
  letter-spacing: .08em;
  text-align: center;
  text-shadow: #FC9E84 0.01em 0.01em 0, #FC9E84 0.02em 0.02em 0, #FC9E84 0.03em 0.03em 0, #FC9E84 0.04em 0.04em 0, #FC9E84 0.05em 0.05em 0; }

.highlights-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }
  .highlights-container .highlight {
    margin: 20px;
    width: 180px; }
    .highlights-container .highlight .highlight-circle {
      position: relative;
      width: 130px;
      height: 130px;
      margin: 0 0 0 25px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .highlights-container .highlight .highlight-circle .paintbrush,
      .highlights-container .highlight .highlight-circle .gear,
      .highlights-container .highlight .highlight-circle .lightbulb {
        position: absolute;
        top: -72px;
        left: -72px;
        width: 275px;
        height: 275px; }
      .highlights-container .highlight .highlight-circle .travel,
      .highlights-container .highlight .highlight-circle .hackathons,
      .highlights-container .highlight .highlight-circle .plants {
        position: relative;
        top: 20px;
        width: 90px;
        height: 90px; }
    .highlights-container .highlight .title {
      padding-top: 5px;
      color: #FFEFC9;
      font-size: 22px;
      font-size: 2.2rem;
      font-family: Dosis, Tahoma, sans-serif;
      font-weight: 500; }
      .highlights-container .highlight .title.grey-font {
        color: #404040; }
    .highlights-container .highlight .title-sub {
      padding-bottom: 10px;
      font-size: 18px;
      font-size: 1.8rem;
      font-family: Dosis, Tahoma, sans-serif;
      font-weight: 300;
      line-height: 12px; }
      .highlights-container .highlight .title-sub.ylw-font {
        color: #FFEFC9;
        font-weight: 500; }

.building-stuff {
  text-transform: uppercase;
  font-size: 55px;
  font-size: 5.5rem;
  font-family: "Concert One";
  line-height: 1;
  text-align: center;
  color: #F37463; }

.disclaimer {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Dosis, Tahoma, sans-serif;
  text-align: center;
  color: #9ABA9A;
  margin-bottom: 20px; }

@media screen and (min-width: 880px) {
  .highlights-container .highlight {
    width: 190px; }
    .highlights-container .highlight .highlight-circle {
      width: 160px;
      height: 160px;
      margin: 0 0 0 10px; }
      .highlights-container .highlight .highlight-circle .paintbrush,
      .highlights-container .highlight .highlight-circle .gear,
      .highlights-container .highlight .highlight-circle .lightbulb {
        top: -81px;
        left: -81px;
        width: 325px;
        height: 325px; }
      .highlights-container .highlight .highlight-circle .travel,
      .highlights-container .highlight .highlight-circle .hackathons,
      .highlights-container .highlight .highlight-circle .plants {
        top: 25px;
        width: 110px;
        height: 110px; } }
@media screen and (min-width: 1024px) {
  .highlights-container .highlight {
    width: 200px; }
    .highlights-container .highlight .highlight-circle {
      width: 190px;
      height: 190px;
      margin: 0 0 0 5px; }
      .highlights-container .highlight .highlight-circle .paintbrush,
      .highlights-container .highlight .highlight-circle .gear,
      .highlights-container .highlight .highlight-circle .lightbulb {
        top: -105px;
        left: -105px;
        width: 400px;
        height: 400px; }
      .highlights-container .highlight .highlight-circle .travel,
      .highlights-container .highlight .highlight-circle .hackathons,
      .highlights-container .highlight .highlight-circle .plants {
        top: 30px;
        width: 130px;
        height: 130px; } }
.paintbrush,
.gear,
.lightbulb {
  z-index: 800; }
  .paintbrush g,
  .gear g,
  .lightbulb g {
    transform-origin: center center;
    transition: all 1s ease;
    transform: translate(0); }

.hover {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent; }

@media screen and (min-width: 768px) {
  .paintbrush-hover,
  .gear-hover,
  .lightbulb-hover {
    -webkit-animation-name: waitforit;
    -moz-animation-name: waitforit;
    animation-name: waitforit;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

  @keyframes waitforit {
    0% {
      display: none; }
    100% {
      display: block; } }
  .paintbrush-hover:hover + .paintbrush g:nth-of-type(4n+1),
  .lightbulb-hover:hover + .lightbulb g:nth-of-type(4n+1),
  .gear-hover:hover + .gear g:nth-of-type(4n+1) {
    -webkit-transform: translate(400%, 200%);
    -moz-transform: translate(400%, 200%);
    -ms-transform: translate(400%, 200%);
    transform: translate(400%, 200%); }

  .paintbrush-hover:hover + .paintbrush g:nth-of-type(4n+2),
  .lightbulb-hover:hover + .lightbulb g:nth-of-type(4n+2),
  .gear-hover:hover + .gear g:nth-of-type(4n+2) {
    -webkit-transform: translate(-350%, 300%);
    -moz-transform: translate(-350%, 300%);
    -ms-transform: translate(-350%, 300%);
    transform: translate(-350%, 300%); }

  .paintbrush-hover:hover + .paintbrush g:nth-of-type(4n+3),
  .lightbulb-hover:hover + .lightbulb g:nth-of-type(4n+3),
  .gear-hover:hover + .gear g:nth-of-type(4n+3) {
    -webkit-transform: translate(-450%, -250%);
    -moz-transform: translate(-450%, -250%);
    -ms-transform: translate(-450%, -250%);
    transform: translate(-450%, -250%); }

  .paintbrush-hover:hover + .paintbrush g:nth-of-type(4n+4),
  .lightbulb-hover:hover + .lightbulb g:nth-of-type(4n+4),
  .gear-hover:hover + .gear g:nth-of-type(4n+4) {
    -webkit-transform: translate(350%, -400%);
    -moz-transform: translate(350%, -400%);
    -ms-transform: translate(350%, -400%);
    transform: translate(350%, -400%); } }
@media screen and (min-width: 880px) {
  .hover {
    width: 160px;
    height: 160px; } }
@media screen and (min-width: 1024px) {
  .hover {
    width: 190px;
    height: 190px; } }
#face {
  position: fixed;
  right: 0;
  bottom: 0; }

.job {
  position: relative; }
  .job h2 {
    line-height: 1; }
    .job h2 .job-title {
      font-size: 20px;
      font-size: 2rem;
      font-family: Dosis, Tahoma, sans-serif;
      line-height: 20px; }
  .job h3 {
    font-size: 20px;
    font-size: 2rem;
    font-family: Quando, "Times New Roman", serif;
    text-align: left;
    margin-top: 5px; }
  .job p {
    margin-top: 10px;
    padding: 0; }
  .job img {
    display: none; }

@media screen and (min-width: 768px) {
  .job h2 br {
    display: none; }
  .job h3 {
    margin-right: 20px; }
  .job p {
    margin-left: 40px;
    max-width: 620px;
    padding-right: 150px; }
  .job img {
    display: block;
    position: absolute;
    height: 130px;
    width: 130px;
    top: 50%;
    right: 0;
    transform: translateY(-50%); } }
.project {
  width: 50%;
  display: inline-block;
  margin: 10px 0 20px;
  text-align: center;
  font-family: Quando, "Times New Roman", serif;
  font-size: 12px;
  font-size: 1.2rem; }
  .project img {
    margin-top: 10px;
    margin-bottom: 0;
    width: 80%;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .project img:hover {
      margin-top: 0;
      margin-bottom: 10px; }
  .project .subtitle {
    margin-top: .75em; }

@media screen and (min-width: 600px) {
  .project {
    width: 33%; } }
@media screen and (min-width: 850px) {
  .project {
    width: 25%;
    font-size: 14px;
    font-size: 1.4rem; } }

/*# sourceMappingURL=main.css.map */
