// Theme Colors

$purple: #565B70;
$yellow: #FFEFC9;
$green:  #9ABA9A;
$pink:   #F37463;
$grey:   #404040;

// Variations

$pink-highlight: #FC9E84; // Slightly lighter pink for lower contrast
$purple-AA: #555D7E;      // Acceptable contrast ratio for green background