// ----------------------------------
//      Overarching/General Styles
// ----------------------------------

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;

  background-color: $yellow;
  color: $grey;

  font-size: 62.5%;
}

h1 {
  @include font-size(45);
  font-family: $quando-stack;
  letter-spacing: .08em;
  text-align: center;

  text-shadow: $pink-highlight .01em .01em 0,
    $pink-highlight .02em .02em 0,
    $pink-highlight .03em .03em 0,
    $pink-highlight .04em .04em 0,
    $pink-highlight .05em .05em 0;

  margin: 0;
}

h2 {
  @include font-size(40);
  font-family: $concert-one-stack;
  margin: 0; 
}

p {
  @include font-size(18);
  font-family: $dosis-stack;
  padding: $space 0;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: $space 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.bg-yellow  { background-color: $yellow; }
.bg-green   { background-color: $green; }
.bg-purple  { background-color: $purple; }
.bg-grey    { background-color: $grey; }

.yellow-font { color: $yellow; }
.green-font  { color: $green; }
.purple-font { color: $purple; }
.pink-font   { color: $pink; }

.bg-green {
  .purple-font {
    // Appropriate accessibility ratio
    color: $purple-AA;
  }
}


div.button {
  display: block;
  margin: $space;

  a { 
    display: block; 
    width: auto;

    text-decoration: none;

    @include flex();
    @include justify-content(center);
    @include align-items(center);

    .left,
    .right {
      width: 0; 
      height: 0;

      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent; 
    }

    .left  { border-right: 23px solid $yellow; }
    .right { border-left: 23px solid $yellow; }

    .text {
      padding: 8px 10px 10px;
      border: 3px solid $yellow;

      color: $yellow;
      @include font-size(18);
      font-family: $dosis-stack;

      @include transition(padding .2s ease-in-out);
    }
  }

  &.grey {
    .left  { border-right: 23px solid $grey; }
    .right { border-left: 23px solid $grey; }

    .text {
      border-color: $grey;
      color: $grey;
      font-weight: 500;
    }
  }

  &:hover a .text {
    padding: 8px 25px 10px;
  }
}










// ----------------------------------
//      Header Styles
// ----------------------------------

header {
  width: 100%;
  height: 170px;

  position: relative;
  overflow: hidden;

  @include flex();
  @include flex-direction(column);
  @include align-items(center);

  background-color: $purple;

  #logo {
    margin: $space 0;

    img {
      width: 132px;
      height: 50px;
    }
  }

  menu {
    margin: 0;
    padding: 0;

    .item {
      display: inline-block;
      margin: 0 9px;

      .icon {
        display: inline-block;
        text-align: center;

        width: 45px;
        height: 45px;

        @include border-radius(50%);
        background-color: $yellow;

        img {
          width: 30px;
          height: 30px;
          padding-top: 8px;
        }
      }

      .label {
        margin-top: 2px;

        color: $yellow;
        font-family: $dosis-stack;
        @include font-size(14);
        text-align: center;
      }
    }
  }
}










@media screen and (min-width: 500px) {
  header {
    height: 80px;
    @include flex-direction(row);
    @include justify-content(space-between);

    #logo {
      margin: 0 0 0 5%;

      img {
        width: 106px;
        height: 40px;
      }
    }

    menu {
      margin: 0 5% 0 0;

      .item {
        margin: 0 6px;

        .icon {
          height: 35px;
          width: 35px;

          img {
            height: 25px;
            width: 25px;
            padding-top: 5px;
          }
        }

        .label {
          @include font-size(12);
        }

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}










@media screen and (min-width: 768px) {
  header menu .item {
    .label {
      color: $purple;
      @include transition(color .1s ease-in-out);
    }

    &:hover .label {
      color: $yellow;
    }
  }
}










@media screen and (min-width: 1024px) {
  header {
    height: 90px;

    #logo {
      img {
        width: 132px;
        height: 50px;
      }
    }

    menu {
      margin: 0 5% 0 0;

      .item {
        margin: 0 6px;

        .icon {
          height: 40px;
          width: 40px;

          img {
            height: 28px;
            width: 28px;
            padding-top: 6px;
          }
        }

        .label {
          @include font-size(14);
        }
      }
    }
  }
}










// ----------------------------------
//      Footer Styles
// ----------------------------------

footer {
  height: 50px;
  background: $purple;

  text-align: center;

  a {
    display: inline-block;
    height: 30px;
    width: 30px;

    margin: 10px 5px;
    background-size: 30px 60px;

    svg {
      height: 30px;
      width: 30px;

      path {
        fill: $yellow;
        @include transition(fill .15s ease-in-out)
      }
    }

    &:hover svg path {
      fill: $pink;
    }
  }
}