// Styles for index.html

.sub-text {
  width: 100%;
  margin: $space 0;

  @include font-size(16);
  font-family: $quando-stack;
  text-align: center;
}

.c-a-m {
  width: 100%;
  margin: $space 0;

  @include font-size(55);
  line-height: 1.1;
  font-family: $quando-stack;
  letter-spacing: .08em;
  text-align: center;

  text-shadow: 
    $pink-highlight .01em .01em 0,
    $pink-highlight .02em .02em 0,
    $pink-highlight .03em .03em 0,
    $pink-highlight .04em .04em 0,
    $pink-highlight .05em .05em 0;
}

.highlights-container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  @include flex();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);

  .highlight {
    margin: $space;

    .highlight-circle {
      position: relative;

      width:  130px;
      height: 130px;

      margin: 0;
      padding: 30px;

      @include border-radius(50%);
    }

    .title {
      padding-top: 5px;

      color: $yellow;
      @include font-size(22);
      font-family: $dosis-stack;
      font-weight: 500;

      &.grey-font {
        color: $grey;
      }
    }

    .title-sub {
      padding-bottom: 10px;

      @include font-size(18);
      font-family: $dosis-stack;
      font-weight: 300;

      line-height: 12px;

      &.ylw-font {
        color: $yellow;
        font-weight: 500;
      }
    }
  }
}

.building-stuff {
  text-transform: uppercase;
  @include font-size(55);
  font-family: $concert-one-stack;
  line-height: 1;
  text-align: center;
  color: $pink;
}

.disclaimer {
  @include font-size();
  font-family: $dosis-stack;
  text-align: center;
  color: $green;

  margin-bottom: $space;
}








@media screen and (min-width: 785px) {
  .highlights-container {
    @include justify-content(space-between);
  }
}