.project {
  width: 100%;
  display: inline-block;

  margin-top: $space / 2;
  margin-bottom: $space;

  @include font-size(20);
  font-family: $quando-stack; 
  text-align: center; 

  img {
    margin-top: $space / 2;
    margin-bottom: 0;
    width: 80%;

    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;

    &:hover {
      margin-top: 0;
      margin-bottom: $space / 2;
    }
  }

  .subtitle {
    margin-top: .75em;
  }
}










@media screen and (min-width: 410px) {
  .project {
    width: 50%;
    @include font-size(14);
  }
}










@media screen and (min-width: 600px) {
  .project {
    width: 33%;
  }
}










@media screen and (min-width: 850px) {
  .project {
    width: 25%;
  }
}