.project {
  width: 50%;
  display: inline-block;

  margin: ($space / 2) 0 $space;

  text-align: center; 
  font-family: $quando-stack; 
  @include font-size(12);

  img {
    margin-top: $space / 2;
    margin-bottom: 0;
    width: 80%;

    @include transition(all 0.2s ease-in);

    &:hover {
      margin-top: 0;
      margin-bottom: $space / 2;
    }
  }

  .subtitle {
    margin-top: .75em;
  }
}










@media screen and (min-width: 600px) {
  .project {
    width: 33%;
  }
}










@media screen and (min-width: 850px) {
  .project {
    width: 25%;
  }
}